
.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


html {
    height: -webkit-fill-available; /* We have to fix html height */
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
